.page{
  display: grid;
  grid-template-columns: 100% 100% ;
  grid-template-rows: auto auto ;
  grid-template-areas: 
  "head "
  "main ";
  height: 550px;
}


.header{
  grid-area: head;
  display: flex;
  background-color: aqua;
  height: 150px;
  justify-content: center;
  margin: 2%;
  
}
.main{
  grid-area: main;
  background-color: blueviolet;
  height: 550px;
  margin: 2%;
}

.sideWindowMain{
  border: solid black;
  height: 90%;
  width: 30%;
  background-color: brown;
  margin: 3%;
}
.nameAndCourseWindow{
  
  display: flex;
  flex-direction: row;
  
  width: 100%;
  height: 60%;
}
.courseWindow{
  border: solid black;
  height: 90%;
  width: 60%;
  background-color: yellow;
  margin: 3%;
}
.TotalScoreWindow{
  border: solid black;
  background-color: aqua;
  width: 100%;
  height: 10%;
}